# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- SQL
- Julia
- Java
- C++
- Ruby

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

min = 200
h = min // 60
m = min % 60
print("Hours=", h)
print("Minutes=", m)

Hours= 3
Minutes= 20

## Author
James Lynch