# Test Dataset

In [1]:
# The code was removed by Watson Studio for sharing.

,CUST_ID,CUSTNAME,CITY,STATE,COUNTRY_CODE,POSTAL_CODE,EMAIL_ADDRESS,PHONE_NUMBER,YTD_SALES,SALESREP_ID,NATIONALITY,NATIONAL_ID,CREDITCARD_NUMBER,CREDITCARD_TYPE,CREDITCARD_EXP,CREDITCARD_CVV
0,10001,Michael Golden,Abbadia Alpina,TO,IT,10060,Michael.E.golden@spambob.com,724-454-8453,90.30,SE133,IT,152-374-114,5668369040063070,American Express,10-24,4950
1,10002,Renee Mullins,Columbus,OH,US,45101,Rene.K.mullins@dodgeit.com,229-990-2162,0.00,NC169,UK,124-168-918,5148585346736100,American Express,10-24,6951
2,10003,Allen Schmidt,Abeto,PG,IT,6040,Allen.M.schmidt@spambob.com,288-202-8653,304.00,RP385,U.S.,346-450-984,3410798390214360,Master Card,10-24,6120
3,10004,Robert May,Houston,TX,US,79601,Robert.C.may@spambob.com,630-492-6535,304.00,SE337,U.S.,516-264-270,4861418531939110,VISA,10-24,1794
4,10005,Joe Cruz,Harrisonburg,VA,US,24210,Joe.D.cruz@spambob.com,448-788-1089,180.30,WE355,ES,766-887-613,4914921923672130,VISA,10-24,7596
5,10006,Rebecca White,Acate,RG,IT,97011,Rebecca.white@spambob.com,828-268-4303,52.00,SC325,IT,910-870-499,5786936469848100,American Express,10-24,7822
6,10352,Gary Neal,Chicago,IL,US,61701,Gary.N.neal@dodgeit.com,267-929-9454,673.00,WE283,U.S.,145-878-802,4258942347620500,VISA,10-24,1794
7,10422,Steve Huynh,Detroit,MI,US,48614,Steve.A.huynh@dodgeit.com,644-101-7549,904.86,NE307,CA,660-530-929,5632595683364880,American Express,10-24,4511
8,10007,Anthony Johnson,Achstetten,NaN,DE,88480,Anthony.H.johnson@pookmail.com,907-111-5490,354.00,WE349,IT,595-442-524,4197758257700300,VISA,11-24,9785
9,10008,Alberto Fabian,Acquabona,BL,IT,32043,Alberto.T.fabian@pookmail.com,113-785-7672,352.00,SW211,CA,270-598-741,5803934427959600,American Express,11-24,2725